/* You can add global styles to this file, and also import other style files */
@use '@material/checkbox/mdc-checkbox';
@use '@material/checkbox';
@use '@material/radio/mdc-radio';
@use '@material/radio';
@use '@material/switch/mdc-switch';
@use '@material/switch';
@use '@material/form-field/mdc-form-field';
@use '@material/dialog/mdc-dialog';
@use '@material/dialog';
@use '@material/drawer/mdc-drawer';
@use '@material/list/mdc-list';
@use '@material/list';
@use '@material/textfield/mdc-text-field';
@use '@material/textfield/_index' as textfield;
@use '@material/form-field/_index' as form-field;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
