<div class="app">
    <!--  button component - Primary button -->
    <ilmn-button label="Primary Button" styleClass="ilmn-button-primary">
    </ilmn-button>

    <!--  button component - Primary button disabled -->
    <ilmn-button label="Disabled Primary Button" styleClass="ilmn-button-primary" disabled="true">
    </ilmn-button>

    <!--  button component - Primary button raised-->
    <ilmn-button label="Primary Button Raised" styleClass="ilmn-button-primary ilmn-button-raised">
    </ilmn-button>

    <!--  button component - Primary button round-->
    <ilmn-button label="Primary Button Round" styleClass="ilmn-button-primary ilmn-button-round">
    </ilmn-button>

    <!--  button component - secondary button -->
    <ilmn-button label="Secondary Button" styleClass="ilmn-button-secondary">
    </ilmn-button>

    <!--  button component - secondary button disabled -->
    <ilmn-button label="Disabled Secondary Button " styleClass="ilmn-button-secondary" disabled="true">
    </ilmn-button>

    <!--  button component - secondary button raised -->
    <ilmn-button label="Secondary Button Raised" styleClass="ilmn-button-secondary ilmn-button-raised">
    </ilmn-button>

    <!--  button component - secondary button round -->
    <ilmn-button label="Secondary Button Round" styleClass="ilmn-button-secondary ilmn-button-round">
    </ilmn-button>

    <!--  button component - success button -->
    <ilmn-button label="Success Button" styleClass="ilmn-button-success">
    </ilmn-button>

    <!--  button component - info button -->
    <ilmn-button label="Info Button" styleClass="ilmn-button-info">
    </ilmn-button>

    <!--  button component - warning button -->
    <ilmn-button label="Warning Button" styleClass="ilmn-button-warning">
    </ilmn-button>

    <!--  button component - help button -->
    <ilmn-button label="Help Button" styleClass="ilmn-button-help">
    </ilmn-button>

    <!--  button component - Danger button -->
    <ilmn-button label="Danger Button" styleClass="ilmn-button-danger">
    </ilmn-button>

    <!--  button component - disabled state -->
    <ilmn-button label="Disabled Button" disabled="true">
    </ilmn-button>

    <!--  button component - Link -->
    <ilmn-button label="" styleClass="ilmn-button-link ">Link
    </ilmn-button>
</div>