::ng-deep .app {
  &- {
    &simple {
      background-color: #ffff;
      font-size: 16px;
      border: 1px solid #dddddd !important;
      margin: 10px;
      padding: 10px 20px;
    }

    &radius {
      border-radius: 30px;
      border: 1px solid #dddddd !important;
      padding: 10px 20px;
      font-size: 16px;
      margin: 10px;
    }

    &tob-bottom-gradient {
      background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
      padding: 10px 20px;
      font-size: 16px;
      margin: 10px;
    }

    &tob-left-bottom-right {
      background: rgb(2, 0, 36);
      background: linear-gradient(
        to bottom right,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 212, 255, 1) 100%
      );
      padding: 10px 20px;
      font-size: 16px;
      margin: 10px;
      color: #ffffff;
    }

    &left-right-gradient {
      background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
      padding: 10px 20px;
      font-size: 16px;
      margin: 10px;
    }

    &multi-position {
      background: linear-gradient(
        to right,
        red 20%,
        orange 20% 40%,
        yellow 40% 60%,
        green 60% 80%,
        blue 80%
      );
      padding: 10px 20px;
      font-size: 16px;
      margin: 10px;
      color: #ffffff;
    }

    &radial-gradient {
      background-image: radial-gradient(circle, #33ccff, #ff99cc, #000fff);
      padding: 10px 20px;
      font-size: 16px;
      margin: 10px;
    }
  }
}
