<div class="app">

  <div>
    <!-- Primary button -->
    <button ilmn-button class="ilmn-btn-primary">Primary Button
    </button>


    <!-- Round Primary button -->
    <button ilmn-button class="ilmn-btn-primary ilmn-btn-round">Round Primary Button
    </button>


    <!-- Raised Primary button -->
    <button ilmn-button class="ilmn-btn-primary ilmn-btn-raised  ilmn-btn-round">Raised Primary Button
    </button>


    <!-- Disabled Primary button -->
    <button ilmn-button disabled="true" class="ilmn-btn-primary  ilmn-btn-round">Disabled Primary Button
    </button>
  </div>

  <div>
    <!-- secondary button -->
    <button ilmn-button class="ilmn-btn-secondary"> Secondary Button
    </button>

    <!-- Round secondary button -->
    <button ilmn-button class="ilmn-btn-secondary ilmn-btn-round  ilmn-btn-round">Round Secondary Button
    </button>

    <!-- Raised secondary button -->
    <button ilmn-button class="ilmn-btn-secondary ilmn-btn-raised  ilmn-btn-round">Raised Secondary Button
    </button>


    <!-- Disabled secondary button -->
    <button ilmn-button class="ilmn-btn-secondary  ilmn-btn-round" disabled="true">Disabled Secondary Button
    </button>
  </div>

  <div>
    <!--link -->
    <a ilmn-button href="" class="ilmn-btn-link">Href link
    </a>

    <!--link -->
    <a ilmn-button href="" class="ilmn-btn-link" disabled="true">Href link
    </a>
  </div>

  <div>
    <button ilmn-icon-button>
      <mat-icon aria-hidden="false" aria-label="icon">home</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-active">
      <mat-icon aria-hidden="false" aria-label="icon">home</mat-icon>
    </button>

    <button ilmn-icon-button disabled="true">
      <mat-icon aria-hidden="false" aria-label="icon">home</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-primary">
      <mat-icon aria-hidden="false" aria-label="icon">home</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-primary ilmn-btn-raised ">
      <mat-icon aria-hidden="false" aria-label="icon">home</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-primary" disabled="true">
      <mat-icon aria-hidden="false" aria-label="icon">home</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-secondary">
      <mat-icon aria-hidden="false" aria-label="icon">home</mat-icon>
    </button>


    <button ilmn-icon-button class="ilmn-btn-secondary ilmn-btn-raised">
      <mat-icon aria-hidden="false" aria-label="icon">home</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-secondary" disabled="true">
      <mat-icon aria-hidden="false" aria-label="icon">home</mat-icon>
    </button>
  </div>

  <div>
    <button ilmn-icon-button>
      <mat-icon aria-hidden="false" aria-label="icon">close</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-active">
      <mat-icon aria-hidden="false" aria-label="icon">close</mat-icon>
    </button>

    <button ilmn-icon-button disabled="true">
      <mat-icon aria-hidden="false" aria-label="icon">home</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-primary">
      <mat-icon aria-hidden="false" aria-label="icon">close</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-primary ilmn-btn-raised ">
      <mat-icon aria-hidden="false" aria-label="icon">close</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-primary" disabled="true">
      <mat-icon aria-hidden="false" aria-label="icon">close</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-secondary">
      <mat-icon aria-hidden="false" aria-label="icon">close</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-secondary ilmn-btn-raised">
      <mat-icon aria-hidden="false" aria-label="icon">close</mat-icon>
    </button>

    <button ilmn-icon-button class="ilmn-btn-secondary" disabled="true">
      <mat-icon aria-hidden="false" aria-label="icon">close</mat-icon>
    </button>

  </div>


  <div class="app-check-type">
    <div>
      <ilmn-checkbox label="Checkbox"></ilmn-checkbox>
    </div>
    <div>
      <ilmn-checkbox label="Checkbox Checked" isSelected="true"></ilmn-checkbox>
    </div>
    <div>
      <ilmn-checkbox label="Checked Disabled" isSelected="true" disabled="true"></ilmn-checkbox>
    </div>

    <div>
      <ilmn-checkbox type="radio" label="Radio"></ilmn-checkbox>
    </div>
    <div>
      <ilmn-checkbox type="radio" label="Radio Selected" isSelected="true"></ilmn-checkbox>
    </div>
    <div>
      <ilmn-checkbox type="radio" label="Radio Selected Disabled" isSelected="true" disabled="true"></ilmn-checkbox>
    </div>
  </div>


  <div class="app-check-type">
    <div>
      <mdc-form-field>
        <mdc-checkbox></mdc-checkbox>
        <label>Label</label>
      </mdc-form-field>
    </div>

    <div>
      <mdc-form-field>
        <mdc-checkbox disabled></mdc-checkbox>
        <label>Disabled</label>
      </mdc-form-field>
    </div>

    <div>
      <mdc-form-field alignEnd>
        <mdc-checkbox></mdc-checkbox>
        <label>Label</label>
      </mdc-form-field>
    </div>

    <div>
      <mdc-form-field>
        <mdc-radio></mdc-radio>
        <label>Radio</label>
      </mdc-form-field>
    </div>

    <div>
      <mdc-form-field>
        <mdc-switch></mdc-switch>
        <label>off/on</label>
      </mdc-form-field>
    </div>
  </div>
</div>