//Padding mixin, accepts null and omits null values
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

//Margin mixin, accepts null and omits null values
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

// Use with ::before and ::after pseudo elements
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin circle {
  border-radius: 100%;
}

@mixin raised {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

// Used for overlay blur effects with menu and focus states
@mixin blur() {
  transition: filter 150ms ease-in;

  .blur & {
    opacity: 0.4;
  }
}

// Used for overlay blur effects with menu and focus states
@mixin noBlur() {
  transition: none;

  .blur & {
    filter: none !important;
    opacity: 1 !important;
    transition: none;
  }
}
